.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rprofile

renv/
renv.lock

out/
*.log
*.clumped
*.stdout
variant2gene.snp_loc.txt
variant2gene.genes.annot
variant2gene_*.tsv

.httr-oauth
.DS_Store
.quarto/
